*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #f9fbff;
    font-size: 14px;
    line-height: 20px;
}

.resume_wrapper{
    display: flex;
    width: 800px;
    margin: 50px auto;
    background: #8a9ea4;
    padding: 10px;
}

.resume_wrapper .resume_left{
    width: 30%;
    background: #1a2552;
}

.resume_wrapper .resume_left .resume_right{
    width: 100%;
    height: 150px;
}

.resume_wrapper .resume_left .resume_image img{  
    width: 100%;
    display: flex;

}

.resume_wrapper .resume_title{
    color: rgb(236, 237, 245);
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;

}

.resume_wrapper .resume_left .resume_info{
    color: #feecec;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.resume_wrapper .resume_left .resume_bottom{
    padding: 20px 30px;
}

.resume_wrapper .resume_item{
    padding: 20px 0;
    border-bottom: 1px solid #afcad8;
}

.resume_wrapper .resume_item:last-child{
    border-bottom: 0px;

}



.resume_wrapper .resume_namerole .name{
    font-size: 20px;
    columns: #eceaea;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 4px;

}

.resume_wrapper .resume_left .resume_namerole .role {
    columns: #b5b1ce;
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child{
    margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle{
    color: #bb9c9c;
    margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p{
    position: relative;
    width: 125px;
    height: 20px;
    background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span{
    position: absolute;
    top: 0;
    left: 0;
    background: #62696c;
    width: 100%;
    height: 100%;
}

.resume_wrapper .resume_right{
    width: 65%;
    padding: 20px 40px;
}

resume_wrapper .resume_right .resume_namerole .name{
    color: #aaa9af;
    font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role{
    font-size: 14px;
    text-transform: uppercase;

}

resume_wrapper .resume_right .resume_item .resume_title{
    color: #26252d;
}

.resume_wrapper .resume_right .resume_data{
    display: flex;
}

.resume_wrapper .resume_right .resume_data .year{
    padding-right: 35px;
    width: 115px;
    position: relative;
}

.resume_wrapper .resume_right .resume_data .content{
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #79799b;
    border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after{
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #99b0bd;
    
}




.resume_wrapper .resume_right .resume_certifications .resume_info{
    display: flex;
    justify-content: space-between;
    text-align: center;

}


@media screen and (max-width: 800px){
    .resume_wrapper .resume_right .resume_namerole{
        display: none;
    }

    .resume_wrapper .resume_left .resume_namerole{
        display: block;
    }

    .resume_wrapper{
        width: 95%;
        margin: 10px auto;
        flex-direction: column;
    }

    .resume_wrapper .resume_left, 
    .resume_wrapper .resume_right{
        width: 100%;
    }
}

@media screen and (max_width: 424px){
    .resume_wrapper .resume_right{
        padding: 20px 30px ;
    }
    .resume_wrapper .resume_right .resume_data{
        flex-direction: column;
    }

    .resume_wrapper .resume_right .resume_data .year{
        padding: 0;
        margin-bottom: 5px;
        width: 100%;
        color: #0175b2;
    }

    .resume_wrapper .resume_right .resume_data .year:before,
    .resume_wrapper .resume_right .resume_data .year:after{
        display: none;
    }
    .resume_wrapper .resume_right .resume_data .content{
        width: 100%;
        padding: 0;
    }

}
    



